<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="logo"><%= title %></div>
    <div id="map"></div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/javascripts/app.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbz8wj9x2Yt0inLdR_WuAfuzm2R7jIBn8&callback=initMap"
    async defer></script>
</html>
