<h3>Hi Damian</h3>

<img src="/images/avatar.svg" alt="User image confirmation">

<img src="/images/sydpark_green.svg" alt="Living Sydney Application Hot Image">

<h1>Parking Confirmed!</h1>

<h2>23 Crown St</h2>
<h2>Expected total: <span class="green">$12</span></h2>

<h5>Entry: {{ entryTime | date }}</h5>
<h5>Exit: {{ endTime | date }}</h5>

<md-button
    ng-click="setReminder()" 
    id="reminder"
    class="md-primary md-raised"
    aria-label="Reminder Alarm"> Set alarm as reminder </md-button>

<md-button 
    id="dismiss"
    class="md-default"
    aria-label="Dismiss the view" ng-click="dismiss()"> Dismiss </md-button>