<h3>Hi Damian</h3>

<img src="/images/avatar.svg" alt="User image confirmation">

<img src="/images/sydpark_green.svg" alt="Living Sydney Application Hot Image">

<h1>Parking Confirmed!</h1>

<h2>23 Crown St</h2>
<h2>Expected total: <span class="green">$12</span></h2>

<h5>Entry: DateTime</h5>
<h5>Exit: DateTime</h5>

<md-button 
    id="reminder"
    class="md-primary"
    aria-label="Reminder Alarm"> Set alarm as reminder </md-button>

<md-button 
    id="dismiss"
    class="md-default"
    aria-label="Dismiss the view"> Dismiss </md-button>