html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}

#logo {
  color: white;
  font-family: 'Roboto Slab', serif;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  font-size: 24pt;
  padding: 10px;
  padding-left: 20px;
  text-shadow: 0px 0px 10px #000;
}

md-autocomplete {
  margin-left: 1em;
}

.sp-filters {
  background: #FAFAFA;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.sp-filters .conditions {
  padding-top: 1em;
  padding-left: 1em;
}

md-slider {
  z-index: 3;
}

.padleft-dot-five {
  padding-left: 0.5em;
}
.pad-em {
  padding: 1em;
}

.topnav {
    background-color: rgb(50, 50, 100) !important;
}
/*
.topnav input {
    color: white !important;
    background-color: rgb(50, 80, 140) !important;
}

.topnav input:hover {
    background-color: rgb(70, 100, 180) !important;
}

*/
/*.round-num {
  border-radius: 50px;
  padding: 0.35em;
  background: #3509a2;
  color: #e6deff;
}*/